#about-us{
    position: sticky;
    margin-top: 20px;
    height: 250px;
}

#about-us p{
    margin-left: 50px;
    width: 400px;
    font-size: 18px;
    font-weight:500;
    color: rgb(255, 255, 255);
}

#quem-somos{
    position: absolute;
    background-color: #96D7EB;
    left: 261px;
    width: 500px;
    height: 250px;
    border-radius: 5px 0px 0px 5px;   
}

#atendimento{
    position: absolute;
    left: 761px;
    background-color: #839CB5;
    width: 500px;
    height: 250px;
    border-radius: 0px 5px 5px 0px;
}

#about-us a{
    position: absolute;
    text-decoration: none;
    padding: 8px 12px;
    color: white;
    border: solid 2px white;
    left: 80px;
    bottom: 27px;
}

#about-us a:hover{
    color: rgb(103, 83, 83);
    background-color: white;
    border: rgb(103, 83, 83);
}


#about-us h2{
    color: white;
    margin-top: 50px;
    margin-bottom: -5px;
    margin-left: 9.5%;

}

@media only screen and (min-width:320px) and (max-width:500px){
    
    #about-us{
        height: auto;
        position: static;
        width: auto;
        margin: 0;
        background-color: violet;
        margin-left: 9px;
        margin-top: 10px;
        margin-right: 9px;
        border-radius: 10px;
    }

    #about-us div{
        position: static;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 230px;
        border: solid 1px #dce1e3;
    }

    #quem-somos{
        position: static;   
        width: auto;
        background-color: #96D7EB;  
        border-radius: 5px;
        
    }

    #atendimento{
        position: static;
        width: auto;
        background-color: #839CB5;
        border-radius: 5px;
    }

    #about-us h2{
        position: static;
        margin-top: 35px;
    }

    #about-us p{
        position: static;
        width: 80%;
        margin-bottom: 4%;
    }

    #about-us a{
        position: static;
        margin-left: 40px;
    }

    
}

@media only screen and (max-width:320px){
    
    #about-us{
        height: auto;
        position: static;
        width: auto;
        margin: 0;
        background-color: violet;
        margin-left: 9px;
        margin-top: 10px;
        margin-right: 9px;
        border-radius: 10px;
    }

    #about-us div{
        position: static;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 230px;
        border: solid 1px #dce1e3;
    }

    #quem-somos{
        position: static;   
        width: auto;
        background-color: #96D7EB;  
        border-radius: 5px;
        
    }

    #atendimento{
        position: static;
        width: auto;
        background-color: #839CB5;
        border-radius: 5px;
    }

    #about-us h2{
        position: static;
        margin-top: 5%;
        font-size: 100%;
    }

    #about-us p{
        position: static;
        width: 80%;
        font-size: 100%;
    }

    #about-us a{
        /* background-color: tomato; */
        padding: 0;
        position: static;
        margin-left: 40px;
    }

}

@media only screen and (min-width:501px) and (max-width:1020px){

      
    #about-us{
        height: auto;
        position: static;
        width: auto;
        margin: 0;
        background-color: violet;
        margin-left: 9px;
        margin-top: 10px;
        margin-right: 9px;
        border-radius: 10px;
    }

    #about-us div{
        position: static;
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 230px;
        border: solid 1px #dce1e3;
    }

    #quem-somos{
        position: static;   
        width: auto;
        background-color: #96D7EB;  
        border-radius: 5px;
        
    }

    #atendimento{
        position: static;
        width: auto;
        background-color: #839CB5;
        border-radius: 5px;
    }

    #about-us h2{
        position: static;
        margin-top: 35px;
    }

    #about-us p{
        position: static;
        width: 80%;
        margin-bottom: 4%;
    }

    #about-us a{
        position: static;
        margin-left: 40px;
    }

}

@media only screen and (min-width:1021px) and (max-width: 1500px){

      #about-us{
        margin-left: 10%;
       padding: 0;
       position: sticky;
     
    }

    #quem-somos{
        position: absolute;
        margin: 0;
        margin-left: 30px;
        padding: 0;
        left: 0%;
    }

     #atendimento{
        position: absolute;
        /* margin-left: 500px; */
        left: 550px;
        width: auto;
        background-color: #839CB5;
        border-radius: 5px;
    }


}