footer{
    position: sticky;
    height: 350px;
    background-color: #839CB5;
}

#col1{
    display: inline-block;
    margin-left: 240px;
}

#col1 img{
    width: 230px;
    height: 200px;
}
#col1 p{
    font-size: 15px;
} 

#col2{
    display: inline-block;
    margin-left: 250px;
}

#col3{
    position: absolute;
    top: 75px;
    display: inline-block;
    margin-left: 250px;
}

#col3 img{
    height: 40px;
    margin-right: -20px;
}

#col3 h3{
    margin-left:20px;
}


@media only screen and (min-width:320px) and (max-width:500px){
    footer{
        width: auto;
        height: auto;
    }
        #col1{
            display: block;
            margin-left: 10%;
            width: auto;
            padding: 0px;
        }

    #col1 img{
        height: 150px;
        width: 150px;
    }

    #col1 p{
        margin-top: 0px;
    }

    #col2 {
        display: block;
        margin-left: 10%;
        width: auto;
        padding: 0;
    }

    #col3 {
        width: auto;
        display: block;
        position: static;
        margin-left: 5%;
    }
}


@media only screen and (max-width:320px){
    footer{
        width: auto;
        height: auto;
        overflow: hidden;
    }
        #col1{
            display: block;
            margin-left: 10%;
            width: auto;
            padding: 0px;
        }

    #col1 img{
        height: 150px;
        width: 150px;
    }

    #col1 p{
        margin-top: 0px;
    }

    #col2 {
        display: block;
        margin-left: 10%;
        width: auto;
        padding: 0;
    }

    #col3 {
        width: auto;
        display: block;
        position: static;
        margin-left: 5%;
    }
}


@media only screen and (min-width:501px) and (max-width:1500px){
    footer{
        width: auto;
        height: auto;
        overflow: hidden;
    }
        #col1{
            display: block;
            margin-left: 10%;
            width: auto;
            padding: 0px;
        }

    #col1 img{
        height: 150px;
        width: 150px;
    }

    #col1 p{
        margin-top: 0px;
    }

    #col2 {
        display: block;
        margin-left: 10%;
        width: auto;
        padding: 0;
    }

    #col3 {
        width: auto;
        display: block;
        position: static;
        margin-left: 5%;
    }
}