#mid-text{
    position: relative;
    height: 50px;
    margin: 50px;
    margin-bottom: 9px;
}

#mid-text img{
    position: absolute;
    margin-left: 60%;
    height: 50px;
}

#mid-text p{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 36%;
    top: -10px;
}

@media only screen and (min-width:320px) and (max-width:500px){
    #mid-text{
        display: block;
        margin-left: 60px;
        margin-top: 10px;
    }

    #mid-text p{
        padding-top: 15px;
        position: static;
        text-align: center;
        display: block;
    }
    #mid-text img{
        display: block;
        position: static;
        margin-left: 40%;
    }
}