#mid-text{
    position: relative;
    height: 50px;
    margin: 50px;
    margin-bottom: 9px;
}

#mid-text img{
    position: absolute;
    margin-left: 60%;
    height: 50px;
}

#mid-text p{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 36%;
    top: -10px;
}

@media only screen and (min-width:320px) and (max-width:500px){
    #mid-text{
        display: block;
        margin-left: 60px;
        margin-top: 10px;
    }

    #mid-text p{
        padding-top: 15px;
        position: static;
        text-align: center;
        display: block;
    }
    #mid-text img{
        display: block;
        position: static;
        margin-left: 40%;
    }
}


@media only screen and (max-width:320px){
    #mid-text{
        display: block;
        margin-left: 60px;
        margin-top: 10px;
    }

    #mid-text p{
        padding-top: 15px;
        font-size: 70%;
        position: static;
        text-align: center;
        display: block;
    }
    #mid-text img{
        display: block;
        position: static;
        margin-left: 30%;
    }
}



@media only screen and (min-width:501px) and (max-width:1020px){
     #mid-text{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }

    #mid-text p{
        position: static;
    }
    #mid-text img{
        position: static;
        display: block;
        margin: 0;
        /* margin: 50px 0 10px 0; */
       /* display: none; */
    }
}