img{
    height: 85px;
    margin-left: 25px;
    margin-top: 20px;
}

.produtos{
    position: relative;
    padding-left: 220px;
    margin-bottom: 50px;  
}


.produtos p{
    display: inline-block;
    /* background-color: #1b9ab1; */
    /* text-align: center; */
}

.circle-1{
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    background-color: #F2E4F9;
}

.p1{
    /* background-color:yellowgreen; */
    margin-right: 60px;
    display: inline-block;
}

.p2{
    margin-right: 60px;
    display: inline-block;
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    background-color: #1b9ab1;
}

.p2 p{
    margin-top: 10px;
    margin-left:35px;
}
.circle-2{
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    background-color: #1b9ab1;
}

.p3{
    margin-right: 60px;
    display: inline-block;
    margin-top: 50px;
}

.p3 p{
    margin-left: 43px;
}

.circle-3{
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    margin-right: 10px;
    background-color: #FEB9BA;
}

.p4{
    margin-right: 60px;
    display: inline-block;
}

.circle-4{
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    background-color: #FFFDA3;
}


.circle-4 img{
    margin-left: 18px;
}

.p4 p{
    margin-left: 28px;
}

.p5{
    margin-right: 60px;
    display: inline-block;
}

.circle-5{
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    background-color: #E8BAFF;
}

.p5 p{
    margin-left: 39px;
}

.p6{
    display: inline-block;
}

.p6 p{
    margin-left: 45px;
}

.circle-6{
    height: 130px;
    width: 130px;
    border-radius: 1000px;
    margin-bottom: -10px;
    background-color: #CAFDC3;
}

.circle-6 img{
    margin-left: 45px;
}

