header{
    background-color: black;
    height: 40px;
    padding-top: 10px;
}

header ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu{
    background-color: orange;
    display: inline-block;
    border-bottom: 1px solid black;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}

.menu:hover a{
    color: black;
}
.menu:hover{
    background-color: white;
}

/* #DropDown{

} */

.menu a{
    color: white;
    text-decoration: none;
}

.DropDown-menu{
    position: absolute;
    display: none;
    border: solid black 1px;
    margin-top: 11.9px;
    margin-left: -15.5px;
}

.DropDown-menu li{
    height: 30px;
    border-bottom: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

#DropDown:hover .DropDown-menu, .DropDown-menu a{
    display: block;
    color: black;
}

.DropDown-menu li:hover{
         background-color: white;
}



.DropDown-menu ul{
    background-color: orange    ;
    margin: 0px;
    padding: 0px;
}

.ClassA:hover, .ClassB:hover button{
    background-color: tomato;
    color: aliceblue;
}